* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.case {
    width: 400px;
    height: 600px;
    border: 2px outset #999;
    box-shadow: 1px 1px 3px 0 #555;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.display {
    width: 90%;
    height: 20%;
    border: 1px solid #11f;
    margin: 5% 0;
}

.buttons {
    width: 90%;
    height: 70%;
    border: 1px solid #1f1;
}